
.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
float: right;
border: 2px solid white;
border-radius: 5px;
}

.big_image {
    width: 100%;
}

#start, #status{
    font-size: 23px;
}

h4 {
    background-color: grey;
    line-height: 2;
    margin: 0px;
    
}

#instruct {
    background-color: white;
}

.modal-dialog {
    width: 90%;
}

.image {
    display: inline-block;
    width: 45%;
}

body {
    overflow: scroll;
}

video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}